body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   background-color: #fdf0d5;
   color: hwb(201 0% 71%);
   box-shadow: inset 0px 0px 30px 30px rgba(0,0,0,0.1), inset 1px 0px 30px 30px rgba(0,0,0,0.1)
}
 .key-item{
   color: #c1121f;
   font-size: large;
   font-size: 4.8vh;
   font-weight: 1000;
 }
.typewriter .code {
    display: inline-block;
    overflow: hidden;
    width: 0px;
    
    border-right: 0 solid #780000;
    animation: blink-caret 0.2s step-start 1.2s forwards,
    typingcode 0.6s steps(14) 1.2s forwards;
}
.typewriter .key {
    display: inline-block;
    overflow: hidden;    
    width: 0;
    border-right: 0 solid #780000;
    animation: blink-caret .4s step-end 2.1s forwards,
        typingkey 0.8s steps(10) 2.1s forwards;
}

.typewriter .word {  
    width: 0;    
    border-right: 0 solid #780000;
    animation: blink-caret .4s step-end 3.1s infinite,
        typing1 0.6s steps(14) 3.1s forwards;
}
.sp{
   display: inline-block;
   overflow: hidden;
}
code {
    font-size: 3.5rem;
    font-weight: 600;
    
}
.typewriter {
    overflow: hidden;
    width: 350px;
    }

/* The typing effect */
@keyframes typing1 {
    0% {
        width: 0px
    }

    100% {
        width: 92px
    }

}

@keyframes typingkey {
    0% {
        width: 0px
    }
   
    100% {
        width: 80px 
    }
}

/* The typing effect */
@keyframes typingcode {
    0% {
        width: 0
    }

    100% {
        width: 78px
    }

}

/* The typewriter cursor effectS */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
        border-width: 0px;
    }

    50% {
        border-color: #780000;
        border-width: 2px;
    }
}
.bbr{
   opacity: 0;
   animation: bracket .1s  2s forwards;

}
.abr{
   opacity: 0;
   animation: bracket .1s  2s forwards;
 
}
@keyframes bracket {
   0%,100% {
       opacity: 1;
   }

}
@keyframes bracketb {
   0% {
       content: "";
   }

   100% {
       content: "{";
   }
}